/* creates a border around each result obj */
.contain {
    border: 2px solid grey;
    margin: 30px auto;
    padding: 15px 5px;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.228);
    width: 80%;
}

.titleEl {
    font-weight: 700;
    font-size: 40px;
    text-decoration: underline;
    font-family: cursive;
}

.langEl {
    color: rgb(96, 95, 95);
    opacity: 50%;
    margin: auto;
    outline: white solid 1px;
    width: 25px;
    height: auto;
    border-radius: 25%;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.228);

}

.infoEl {
    font-weight: 500;
    font-size: 15px;
}

.desc {
    border: 1px solid grey;
    width: 80%;
    margin: auto;
    padding: 5px 3px;
    background-color: rgba(0, 0, 255, 0.228);

}

.pop {
    margin-top: 15px;


}

.release {
    margin-bottom: 10px;
}

.pop,
.release {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    background-color: rgba(0, 0, 255, 0.228);
    opacity: 80%;
    border-radius: 3px;
    padding: 0 4px;
    font-size: small;
}

.sorryMsg {
    color: red;
    opacity: 70%;
    font-size: 14px;
}

.button {
    margin-top: 20px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}
